$color-primary: #228be6;
$color-primary-light: #a5d8ff;
$color-primary-dark: #1864ab;

$color-success-light: #69db7c;
$color-success-dark: #37b24d;

$color-error-light: #ff6b6b;
$color-error-dark: #e03131;

