/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: sans-serif;
  color: #444; }

h1 {
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 3.2rem; }

.container {
  max-width: 60rem;
  margin: 0 auto; }

.section-form {
  padding: 9.6rem; }
  .section-form .form__container {
    background: #a5d8ff;
    padding: 2.4rem;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25); }
    .section-form .form__container .form__group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 2.4rem; }
    .section-form .form__container .form__input {
      border: none;
      font-family: inherit;
      padding: 0.8rem 1.2rem;
      outline: none;
      transition: all 0.3s; }
      .section-form .form__container .form__input::placeholder {
        font-size: 1.6rem;
        font-family: inherit;
        color: #999; }
    .section-form .form__container .form__label {
      color: #555;
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 0.8rem; }
    .section-form .form__container .form__control {
      text-align: center; }
      .section-form .form__container .form__control #submit {
        cursor: pointer;
        border: none;
        background-color: #228be6;
        padding: 0.8rem 1.6rem;
        border-radius: 7px;
        color: #fff;
        font-size: 1.4rem;
        transition: all 0.3s; }
        .section-form .form__container .form__control #submit:hover {
          background-color: #1864ab; }
